.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ffffff; 
    padding: 1rem; 
    z-index: 100;
    margin-bottom: 1rem;
}

.nav-logo{
    max-height: 5rem;
}

.nav-links{
    display: flex;
    gap: 5vw;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }