.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ccedb8; 
    padding: 1rem; 
    z-index: 100;
    margin-bottom: 1rem;
}

.nav-logo{
    max-height: 5rem;
    transition: all .2s ease-in-out;     
}

.nav-links{
    display: flex;
    gap: 5vw;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-link{
    transition: all .2s ease-in-out;     
}

.nav-link:hover, .nav-logo:hover{
    transform: scale(1.1);
}