  .fadein {
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 2.5s, transform 2.5s;
  }
  
  .animation-started {
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes fadeInAndFly {
    0% {
      opacity: 0;
      transform: translateY(-1em);
    }
  
    10% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (min-width: 48em) {
    .linkcard {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    transition: all 0.2s ease-in-out;

    }
  
    .linkcard:hover {
      transform: scale(1.1);

    }
  
    .linkimg {
      margin-bottom: 1em;
    }
  }
  