#root {
  min-height: 100vh;
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 100vw;
  max-width: 1000px;
}