@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: unset;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  min-width: 320px;
  max-width: 1200px;
}
